body {
    background-color: aqua;
    overflow: hidden;
}

header {
    text-align: left;
}

#websiteTitle {
    background-color: pink;
    font-size: 10vh;
    display: inline-block;
    margin: 1vh 1vw 1vh 1vw;
    width: 98vw;
    overflow: visible;
}

.btnDiv {
    background-color: green;
    display: inline-block;
    width: 15vw;
    margin: 1vw;
    padding: 1vw;
}

.btnDiv:hover {
    animation-name: hoverEffect;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.btnDiv h1 {
    text-align: center;
}

.btnDiv hr {
    border-top: 5px solid black;
}

nav {
    position: absolute;
    bottom: 0px;
    text-align: left;
    width: 100vw;
}

@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }
    nav {
        position: static;
        text-align: center;
    }
    .btnDiv {
        width: 40vw;
        margin: 4vw;
    }
    .btnDiv h1 {
        text-align: center;
        display: block;
    }
}

@keyframes hoverEffect {
    from {
        transform: rotate(5deg);
        transform: scale(1.05);
    }
    to {
        transform: rotate(-5deg);
        transform: scale(0.95);
    }
}