body {
    overflow: hidden;
    background-color: aqua;
}

#websiteTitle {
    position: fixed;
    top: 2rem;
    left: 2rem;
    background-color: pink;
    margin: 5px;
    font-size: 3em;
    z-index: 1010;
}

#backHomePage {
    position: fixed;
    top: 3rem;
    right: 5rem;
    background-color: pink;
    margin: 5px;
    font-size: 2em;
    z-index: 1010;
}

aside {
    height: 100%;
    width: 5rem;
}

#lastStation {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

#nextStation {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
}

.asideIcon {
    color: rgba(0, 0, 0, 0.2);
    transform: scale(1, 5);
}

nav {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    z-index: 1010;
}

#stationDiv {
    width: 100%;
    height: 100px;
    text-align: center;
}

main {
    background-color: red;
    position: absolute;
    top: 5%;
    left: 0px;
    margin: 0% 5% 0% 5%;
    width: 90%;
    height: 90%;
}

.stationBtn {
    display: inline;
    margin: 2px;
}

#lastPath {
    text-align: center;
    vertical-align: middle;
    float: left;
    height: 5%;
    width: 50%;
    background-color: green;
}

#nextPath {
    text-align: center;
    vertical-align: middle;
    float: right;
    height: 5%;
    width: 50%;
    background-color: green;
}

#content {
    background-color: purple;
    float: left;
    height: 100%;
    width: 70%;
}

#stationName {
    float: left;
    text-align: center;
    display: inline;
    height: 10%;
    width: 70%;
    margin: 0% 15% 0% 15%;
    padding: 0px;
    background-color: yellow;
}

#imgDiv {
    width: 70%;
    height: 50%;
    text-align: center;
    float: left;
    margin: 0% 15% 0% 15%;
}

#stationInfo {
    background-color: blue;
    float: left;
    width: 80%;
    height: 35%;
    margin: 0% 10% 0% 10%;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    body {
        overflow: auto;
    }
    header {
        height: 10%;
    }
    #websiteTitle {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        margin: 0px;
        height: 100%;
    }
    #backHomePage {
        position: fixed;
    }
    main {
        position: relative;
        top: 10%;
        width: 100%;
        margin: 0;
    }
    aside {
        display: none;
    }
    #stationName {
        float: none;
        width: 100%;
    }
    #stationName {
        float: none;
        order: 1;
        width: 100%;
        flex-grow: 2;
    }
    #imgDiv {
        float: none;
        order: 2;
        width: 100%;
        flex-grow: 2;
    }
    #stationImg {
        width: 100%;
    }
    #stationInfo {
        float: none;
        order: 3;
        width: 100%;
        flex-grow: 2;
    }
    #lastPath {
        order: 4;
        width: 50%;
        height: auto;
        flex-grow: 1;
    }
    #nextPath {
        order: 5;
        width: 50%;
        height: auto;
        flex-grow: 1;
    }
    nav {
        position: static;
        width: 100%;
    }
}