body {
    overflow: hidden;
}

header {
    width: 100vw;
    height: 10vh;
    /* background-color: green; */
    display: block;
    position: absolute;
    padding: 2vh 2vw 2vh 2vw;
    z-index: 100;
}

main {
    height: 100vh;
    position: relative;
    top: 0vh;
    left: 0vw;
    /* background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(0, 255, 0, 1)); */
    /* display: flex; */
}

aside {
    height: 5vh;
    width: 5vw;
    position: absolute;
    bottom: 8vh;
    z-index: 20;
}

nav {
    display: block;
    position: absolute;
    bottom: 2vh;
    right: 5vw;
    width: 40vw;
    height: 14vh;
    padding: 0vh 0vw 2vh 0vw;
    /* background-color: pink; */
    overflow: hidden;
    z-index: 15;
}

#websiteTitle {
    margin: 0 auto;
    z-index: 10;
    display: inline-block;
    background-color: pink;
}

#stationUl {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    position: relative;
    left: 0vw;
    /* display: flex; */
    /* justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap; */
}

#prevStation {
    right: 42vw;
}

#nextStation {
    right: 2vw;
}

aside h1 {
    background-color: green;
    font-size: 3vh;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

#backHomePage {
    position: fixed;
    right: 2vw;
    top: 2vh;
    height: 8vh;
    padding: 1vh 1vw 1vh 1vw;
    z-index: 100;
}

#backHomePage h1 {
    margin: 0 auto;
    z-index: 10;
    display: inline-block;
    background-color: pink;
    padding: 1vh 1vw 1vh 1vh;
    border-radius: 1vh;
    border: 1vh solid red;
    font-size: 2vh;
}

.stBtn {
    /* padding: 2vh 1vw 2vh 1vw; */
    padding: 0;
    width: 20vw;
    height: 100%;
    float: left;
}

.stBtn h1 {
    margin: 0 auto;
    background-color: aqua;
    border: 0.5vh solid blue;
    border-radius: 0.5vh;
    font-size: 3vh;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.stSection {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 5vh 5vw 5vh 5vw;
    position: absolute;
    z-index: 10;
    background-color: rgba(181, 255, 162, 0.442);
    overflow: hidden;
}

.stName {
    margin: 0 auto;
    padding: 1vh 0 1vh 0;
    text-align: center;
    height: 10%;
    background-color: green;
    font-size: 7vh;
}

.stImage {
    display: block;
    margin: 0 auto;
    height: 50%;
    max-width: 100%;
    max-width: 50%;
    background-color: red
}

.stInfo {
    margin: 0 auto;
    padding: 3% 10% 3% 10%;
    height: 40%;
    width: 100%;
    background-color: yellow;
}

@media screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
    }
    header {
        text-align: center;
        position: static;
    }
    main {
        position: static;
    }
    aside {
        display: none;
    }
    nav {
        display: none;
    }
    .stSection {
        width: 90vw;
        height: auto;
        padding: 0;
        margin: 0vh 5vw 0vh 5vw;
        display: block;
        position: static;
        transform: rotateY(0deg);
    }
}

.in {
    transform-origin: left bottom;
    animation-name: slideIn, turnIn;
    animation-duration: 1000ms, 500ms;
    animation-delay: 0ms, 1000ms;
    animation-timing-function: ease-in, ease-in;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

.out {
    transform-origin: left bottom;
    animation-name: turnIn, slideOut;
    animation-duration: 500ms, 1000ms;
    animation-delay: 0ms, 500ms;
    animation-timing-function: ease-in, ease-in;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
    animation-direction: reverse, normal;
}

.inR {
    transform-origin: left bottom;
    animation-name: turnIn, slideIn;
    animation-duration: 500ms, 1000ms;
    animation-delay: 0ms, 500ms;
    animation-timing-function: ease-in, ease-in;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
    animation-direction: reverse, reverse;
}

.outR {
    transform-origin: left bottom;
    animation-name: slideOut, turnIn;
    animation-duration: 1000ms, 500ms;
    animation-delay: 0ms, 1000ms;
    animation-timing-function: ease-in, ease-in;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
    animation-direction: reverse, normal;
}

@keyframes slideIn {
    from {
        transform: skewY(-25deg);
        width: 0vw;
        height: 0vh;
        left: 100vw;
        bottom: 100vh;
        opacity: 0;
    }
    to {
        transform: skewY(-25deg);
        width: 50vw;
        height: 50vh;
        left: 0vw;
        bottom: 0vh;
        opacity: 1;
    }
}

@keyframes turnIn {
    from {
        left: 0vw;
        bottom: 0vh;
        width: 50vw;
        height: 50vh;
        transform: skewY(-25deg);
        opacity: 1;
    }
    to {
        left: 0vw;
        bottom: 0vh;
        width: 100vw;
        height: 100vh;
        transform: skewY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: skewY(-25deg);
        width: 50vw;
        height: 50vh;
        left: 0vw;
        bottom: 0vh;
        opacity: 1;
    }
    to {
        transform: skewY(-25deg);
        width: 100vw;
        height: 100vh;
        left: -100vw;
        bottom: -100vh;
        opacity: 0;
    }
}

#triangle {
    width: 10vw;
    height: 10vh;
    border-style: solid;
    border-width: 0vh 0vw 100vh 100vw;
    border-color: transparent transparent #333333 transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#triMash {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0vh 0vw 100vh 50vw;
    border-color: transparent transparent white transparent;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}