:root {
    --map-color: rgb(238, 96, 2);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    position: absolute;
    height: 10vh;
    width: 100vw;
    background-color: lightblue;
}

nav {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 20vw;
    padding: min(1vh, 1vw);
    background-color: pink;
    overflow-y: auto;
}

main {
    position: absolute;
    top: 10vh;
    left: 20vw;
    height: 90vh;
    width: 80vw;
    background-color: red;
}

table {
    width: 100%;
    height: 100%;
}

td {
    vertical-align: top;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tr:hover .mapText {
    font-size: 25px;
    line-height: 25px;
}

.mapNum {
    position: relative;
    width: 30px;
    height: 30px;
    border: 3px solid var(--map-color);
    border-radius: 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 130%;
    font-weight: 900;
    padding-top: 3px;
    background-color: white;
    line-height: 1;
    z-index: 10;
}

.mapNumOn {
    background-color: var(--map-color);
    color: white;
}

.mapPath {
    height: calc(100% - 28px);
    width: 8px;
    margin-left: 11px;
    margin-right: 11px;
    background-color: var(--map-color);
    transform: translate(0px, -2px) scale(1, 1.3);
    z-index: 0;
}

.mapSpace {
    height: 15px;
    width: 8px;
    margin: 0 auto;
    background-color: transparent;
    transform: translate(0px, -2px) scale(1, 1.3);
    z-index: 0;
}

.mapText {
    margin-top: 5px;
    width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
}

.mapTextOn {
    font-size: 25px;
    line-height: 25px;
}

.stMapOn {
    background-color: rgba(200, 200, 50, 0.5);
}

.stName {
    margin: 0 auto;
    text-align: center;
    height: 7.5vh;
    background-color: green;
    font-size: 6vh;
    overflow: hidden;
}

.SDWrap {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
}

.SD {
    width: fit-content;
    white-space: nowrap;
}

.SDWait {
    display: none;
}

.SDStand {
    width: 100%;
    text-align: center;
}

.SDFst {
    animation: SDFstAni;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.SDSnd {
    animation: SDSndAni;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -10s;
}

@keyframes SDFstAni {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(-100%)
    }
}

@keyframes SDSndAni {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(-200%)
    }
}

.slideWin {
    /* height: 67.5vh; */
    height: calc(100% - 7.5vh);
    width: 100%;
    background-color: white;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 50px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slideWin::-webkit-scrollbar {
    display: none;
}

.slideCon {
    width: max-content;
    height: 100%;
}

.slideInfo {
    height: 100%;
    width: 80vw;
    background-color: rgb(172, 255, 130);
    float: left;
    scroll-snap-align: start;
}

.stSection {
    width: 100%;
    height: 100%;
}

.pageCont {
    width: 50%;
    height: 100%;
    float: left;
    padding: 2%;
    text-align: center;
}

.pageCont .stText:first-child {
    font-size: 30px;
    text-align: justify;
}

.slideNav {
    height: 3.75vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stContent {
    width: 100%;
    height: 100%;
}

.stPhoto {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.stImg {
    max-width: 100%;
    max-height: 90%;
    box-sizing: border-box;
}

.stText {
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 2%;
    max-height: min-content;
}

.slNvNum {
    font-size: 15px;
    color: white;
    background-color: brown;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
}

#mainSection {
    width: 90vw;
    height: 90vh;
    z-index: 3000;
    background-color: rgb(255, 224, 87);
    position: absolute;
    top: 5vh;
    left: 5vw;
    padding: 5%;
}

#closeMS {
    background-color: red;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 50px;
    height: 50px;
}


/* #backHomePage {
    padding: 1vh;
    height: 10vh;
    width: fit-content;
    float: right;
}

#backHomePage:hover {
    color: white;
    background-color: navy;
} */

#websiteTitle {
    /* height: 100%; */
    /* float: none; */
    font-size: 6vh;
    /* vertical-align: middle; */
    /* overflow: hidden; */
    /* text-align: center; */
    display: inline-block;
}

#fillWrap {
    height: 100%;
    float: none;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}

#mainTitle {
    height: 100%;
    width: max-content;
    float: left;
    font-size: 6vh;
    vertical-align: middle;
}

#toggleNav {
    margin: 2vh 0vh;
    height: 6vh;
    width: fit-content;
    float: left;
}

#toggleNav:hover {
    color: white;
    background-color: navy;
}

@media screen and (max-width: 600px) {
    body {
        overflow-y: auto;
    }
    main {
        top: 10vh;
        left: 0vw;
        width: 100vw;
    }
    nav {
        left: -100vw;
        z-index: 1000;
        width: 100vw;
    }
    .slideInfo {
        width: 100vw;
        overflow-y: auto;
    }
    .pageCont {
        width: 100%;
        height: 50%;
    }
    .pageCont .stText:first-child {
        font-size: initial;
    }
    #mainTitle {
        font-size: 3vh;
        width: 6vh;
        text-align: center;
    }
    .stName {
        font-size: 4vh;
        height: 5.5vh;
    }
    .slideWin {
        height: calc(100% - 5.5vh);
    }
    .stImg {
        max-width: 75%;
    }
}